#map{
    box-shadow: 4px 4px 12px ;
    border-radius: 0%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    padding-left: 10%;
    width:100%;
    height: 75vh;
}

/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.logo{
   align-self: center;
}
body{
    
    background-image: linear-gradient(180deg, rgb(2rgb(143, 255, 248)2, 192), rgb(164, 232, 254));
}
.header{
  display: flex;
  border-radius: 2%;
  margin-top: 6px;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px;
  background: #a6eaff;

  
}
.logo{
  display: flex;
  align-items: center;
}
.logo a{
  color: #000;
  font-size: 18px;
  font-weight: 600;
  margin: 2rem 8rem 2rem 2rem;

}
.header-icons{
  display: flex;
  align-items: center;
}
.header-icons i{
  margin-right: 2rem;
  cursor: pointer;
}
.header-icons .account{
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-icons .account img{
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
}
.container{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

#bottom {
    position:fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 7vh;
    color: #ffffff;
    background-color: rgb(0, 200, 255);
    padding: 15px 0;
  }
